/*###########################  font declaration  #################################*/
 @font-face {
    font-family: averta;
    src: url("../img/Fonts/AvertaDemoPE-Regular.ttf");
  }
  @font-face{
      font-family: electroharmonix;
      src:url("../img/Fonts/electroharmonix.ttf");
  }

 @font-face {
    font-family: audreyn;
    src: url("../img/Fonts/audreyn.otf");
  }
   @font-face {
    font-family: audrey;
    src: url("../img/Fonts/audrey.otf");
  }
  @font-face{
      font-family: audreybold;
      src:url("../img/Fonts/audreybold.otf");
  }
  @font-face {
    font-family: bebas;
    src: url("../img/Fonts/bebas.ttf");
  }
  @font-face{
      font-family: bebasbold;
      src:url("../img/Fonts/bebasbold.ttf");
  }

/*###########################  font declaration  #################################*/


*{ -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

html::-webkit-scrollbar{ 
    width: 0 !important 
}
html{
     overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    
}

body{
    font-size: 25px;
    background: url("../img/landingbk.png");
}
.bk{
    width: 100vw;
    min-height:100vh;
    position: fixed;
    z-index: -100;
    top:-100px;
    margin: 0 auto;
}
.content{
    width: 100vw;
    height: 100vh;
    position: absolute;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    line-height: normal;
    text-align: center;
    display: flex;
    align-content: center;

}
.para{
    position: relative;
    width: 50%;
    margin:auto
}
.title{
    text-transform: uppercase;
    font-size: 1.5em;
}

 /* Changes kw*/
.what{
  color : rgb(17,142,147,0.8);
    position: absolute;
    top:70%;
    left: 40%;
    /* margin:auto auto; */
    color: white;   
    font-size: 1.3em;
    text-decoration: none;
   color : white;
   border-top : 3px solid rgb(17,142,147,0.8);
     border-bottom : 3px solid rgb(17,142,147,0.8);
   border-radius : 4px;
   padding : 5px;      
             background : none;
}
 

       .what:hover{
       animation :ctext;
       animation-duration : 1s;
       animation-fill-mode : forwards;

  }
    @keyframes ctext {
  from {}
  to {   background :grey;
     color: white;
     opacity:0.5;}
      }
      
                 .title{
                       font-size :4.6em;
                       font-family : bebasbold;

                 }
                 
                 .para p{
                       width : 70%;
                       margin-left : 15%;
                       color : #c5c6c7;
                 }
                 #click a{
                             margin-top :50px;
                           margin-left :4%;

                 }
       /* till above kw*/

.what::after{
  /*  position: absolute;
    bottom:5px;
    left:-20px;
    background:rgb(17,142,147,0.8);
    width:0%;
    height: 5px;
    content: "";
    transition: 1s;
    transition-timing-function: cubic-bezier(.25, 1.47, .63, 1.47);
    */


}

   /*
.what:hover::after{
    width: 130%;
    color : red;

}       */

.preloader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background: #0E111F;
    height: 100vh;
    width: 100vw;
    z-index: 999999;
    text-align: center;
}
@media only screen and (max-width: 600px) {
   body{
       font-size: 20px
   }
   .para{
    position: relative;
    width: 90%;
    margin:auto;
    text-align: center;
}
.preloader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    background:#0E111F;
    height: 100h;
    width: 100vw;
    z-index: 999999;
    text-align: center;
    }

    .preloader{
        position: relative;
        top:20vh;
    }

/*
    ##################   kw changes     ###################
   #click a{
        margin-top :25%;
         margin-left :-1%;
                 }

*/
     .para p{
                       width : 70%;
                       margin-left : 15%;
                       font-size :1em;
                 }

.title{
    text-transform: uppercase;
    /* font-size: 1.5em; */
     font-size :3em;
}
           #click a{
                             margin-top :5%;

                        position : absolute;
                        left : 25%;
                 }



/* ############################### */

.what{
    position: absolute;
    top:70%;
    left:30%;
    /* margin:auto; */
    color: white;   
    font-size: 30px;
}
.what::after{
    bottom: 10px;
    left:-20px;
}
   
    .bk{
        min-width: 100vw;
        height:100vh;
        transform: scale(3);
        position: fixed;
        z-index: -100;
    }
}










@media only screen and (min-width: 768px) and (max-width: 992px)   {

  #click a{
         margin-top : 2%;
         left : 35%;
  }
  
  .title{

    /* font-size: 1.5em; */
     font-size :3em;

}


}